<div class="sign-up">
<div id="form">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">

    <label> Username</label>
      <input type="text" name="username" placeholder="Your username" required>
    

    <label> Email</label>
      <input type="email" name="email" placeholder="Your email" required>
    

    <label> Password</label>
      <input type="password" name="password" placeholder="Your password" required>
    

    <button type="submit">Sign Up</button>


    {{#if message}}
      <p class="error">{{message}}</p>
    {{/if}}
  </form>
</div>
</div>
