<h1>Games view</h1>

{{!-- Searchbar --}}
<form action="/games/search" method="post">
  <div class="input-group mb-3">
    <input type="text" name="query" class="form-control" placeholder="ex. Gloomhaven" aria-label="search" aria-describedby="search">
    <div class="input-group-append">
      <span class="input-group-text" type="submit" id="basic-addon2">Search</span>
    </div>
  </div>
</form>

{{#each games}}
  <h1>{{this.name}}</h1>
 {{/each}}
