<main class="games">
  <section>
    {{!-- Searchbar --}}
    <form action="/games/search" method="post">
      <div class="games-searchbar input-group mb-3">
        <input type="text" name="query" class="form-control" placeholder="ex. Gloomhaven" aria-label="search" aria-describedby="search">
        <div class="input-group-append">
          <span class="input-group-text btn-success" type="submit" id="basic-addon2">Search</span>
        </div>
      </div>
    </form>
  </section>
  <section class="cards-grid">
    {{#each games}}
      {{> card }}
    {{/each}}
  </section>
</main>
