<div class="homepage">
<div class="base">
    <img src="images/source.gif">
    <h2>Share joy with your friends...</h2>
    
    {{#if user}}
    <h4><a href="/games" class="more">Discover more >> </a></h4>
    {{else}}
    <h4><a href="/login" class="more">Discover more >> </a></h4>
    {{/if}}
</div>
<div id="container">
<h3>NEW BOARDGAMES:</h3>
<div id="games-window">
 {{#each games}}
<div class="card-hover">{{> card }}</div>
 {{/each}}
</div>

 <div id="info">
   <h3 class="pro">Beginner or Pro?</h3>
   <h4>Join ranked games and meet new challenges! <br>The best players rise through the ranks!
   <h3>Need new challenges?</h3>
   <h4>Learn new games or improve your skills at your <br>favorite games, all at your own pace.</h4>
   <h3>Take the time to play.</h3>
   <h4>During your lunch break - or quietly at home? <br>Alone or with friends?</h4>
   
   <img src="images/catan.gif">
</div>

<form action="/" method="POST" class="subscribe">
    <label> <b>LET"S PLAY TOGETHER? AND KNOW MORE LATEST INFO. <br>SIGN UP FOR OUR NEWSLETTER</b></label>
    <input name="email" type="email" placeholder="Your Email Address" required>
   <!-- You can add more input/fields, this message input is just to notify you about the subscribers-->
    <input hidden name="message" value="Thank you for joining us!" type="text">
   
    <button type="submit" class="sub-btn">Subscribe</button>
</form>
 </div>
 
 
