<h1>{{appTitle}} 🚀</h1>
<p>Let's Play!!</p>
 {{#each games}}
  <h1>{{this.title}}</h1>
 {{/each}}
 <a class="btn btn-primary" href="/games" role="button">All games</a>
 <a class="btn btn-primary" href="/login" role="button">Login</a>
 <a class="btn btn-primary" href="/logout" role="button">Logout</a>

 <footer> 2022 designed by Iwona and Zoey </footer>
