*{
    box-sizing: border-box;
    margin:0;
}

@font-face {
  font-family:Nerko;
  src: url(/images/NerkoOne-Regular.ttf);
}

/* ------------------- home Page ------------------------ */
.homepage{
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    background-color: rgb(11, 11, 59);
}


header{
    display: flex;
    /* background-color: yellowgreen; */
    width: 100%;
    height:7%;
    justify-content: space-between;
    background-color: rgb(11, 11, 59);

}

header >a{
    font-family: Nerko;
    font-size: 4rem;
    margin: 0.2em 0.5em;
    color: rgb(29, 251, 84);
    text-decoration: none;
}

header >a:hover{
    color: rgb(29, 251, 84);
}


.base{
    height:50vh;
    width:60vw;
    margin:6vh 19vw;
    position: relative;

}
.base >h2{
    font-size: 48px;
    z-index:20;
    bottom: 5%;
    left:2%;
    position: absolute;
    color: rgb(16, 15, 15);

}

.base >img{
    height:auto;
    width:60vw;
    border-radius: 25px;
}

.base:hover{
    transform: scale(1.1);
}

#nav{
    width:15vw;
    height:7vh;
    right:2vw;
    display: flex;
    justify-content: space-between;
}

#nav a{
    text-decoration: none;
    font-size: 1.2em;
    font-family:sans-serif;
    line-height: 7vh;
    margin-left: 1.5vw;
    color: aliceblue;
}

#nav a:hover{
    color:rgb(29, 251, 84);
    font-weight: 600;
    transform: scale(1.2)
}

#games-window{
    display: grid;
    position: relative;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;
    row-gap: 5em;
    margin-top: 10vh;
}
#container{
    position: relative;
}
#container h3{
    color: #fff;
    font-weight: 900;
    font-size: 3em;
    position: relative;
    margin: 4em 0 2em 2em;
}

.card-hover:hover{
    transform: scale(1.2);
    box-shadow: 0px 21px 35px 4px rgba(69, 193, 231, 0.8);
}


/* ------------------- Auth Page(Sign up & Login) ------------------------ */

.sign-up{
    background-color: rgb(11, 11, 59);
    width:100%;
    height:100%;
}

#form{
    width:26vw;
    height:60vh;
    color:rgba(235, 245, 234);
    position: absolute;
    top:24vh;
    left:34vw;
    padding:3rem;
    border-radius: 20px;
    border: 4px solid rgb(29, 251, 84);
    box-shadow: 0px 21px 45px 4px rgba(223, 239, 230, 0.14);
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    align-items: center;

}

form >input{
    width:18vw;
    height: 5vh;
    border-radius: 15px;

}

form >label{
    margin-top: 3vh;
    margin-bottom:1vh;
    color: greenyellow;
}

form > button{
   background:linear-gradient(to right, #1fe70d, #12ebe7);
   border-radius: 5em;
   color: #fff;
   border: 0;
   margin-left: 20%;
   font-size: 13px;
   box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
   margin-top: 4vh;
   margin-bottom: 4vh;
   padding:10px 50px;
   font-size: larger;
}

/* ------------------- Games Page------------------------ */

.games {
  background-color: rgb(11, 11, 59);
  color: white;
}
.cards-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  color:black;
}

.card img {
  padding: 1rem;
  height: 300px;
}

.card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card svg {
  height: 15px;
  width: 15px;
}

.card-details {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.card:hover {
  cursor: pointer;
}
.card-text {
  text-decoration: none !important;
}
.game-details-container {
  width: -webkit-fill-available;
}
.game-card {
  border: none!important;
}

/* Game Page */

.game-page {
  padding: 3rem 7rem 3rem 7rem;
}
.game-page > section {
  display: flex;
  gap: 5rem;
  padding: 1rem;
  justify-content: center;
}
.game-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.game-details-container > h1 {
  font-family: Nerko;
  color:  rgb(11, 11, 59);
}
.game-page > section img {
 height: 500px;
 width: 500px;
}
.game-card-text {

}

/* Profile page */

.profile {
  padding: 3rem 7rem 3rem 7rem;
}
.profile-details {
  padding: 1rem;
  text-align: center;
}

.profile-details img {
  width: 60px;
  height: 60px;
}

.profile h1 {
  font-family: Nerko;
  color:  rgb(11, 11, 59);
}

.profile-cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content:flex-start;
  color:black;
  padding: 1rem 0 1rem 0;
}
.profile svg {
  height: 25px;
  width: 25px;
  margin-left: 1rem;
  margin-top: 0.8rem;
}
